<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="https://web.whatsapp.com/pp?e=https%3A%2F%2Fpps.whatsapp.net%2Fv%2Ft61.24694-24%2F128356489_1249737265403443_5067695779415657378_n.jpg%3Foh%3D0646da3b2397f1622b40306df864022f%26oe%3D5FD2CB0C&t=l&u=918375976147%40c.us&i=1607263880&n=rCC%2FaN4s0DVoATWmzeAGOgeDDdss0h1Vt5J0gcImXEw%3D">
    </div>
    
   
</body>
<footer  style="background-color:pink;"> hi i m snehit batra pursuing BE from PEC, CHD</footer>

</html>
