<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="https://qph.fs.quoracdn.net/main-thumb-79123517-200-kvlxjcjsrlxvgfbqholoiyzvtljhacmd.jpeg">
    </div>
    
   
</body>
<footer  style="background-color:pink;"> hi i m snehit batra pursuing BE from PEC, CHD</footer>

</html>