<!DOCTYPE html>

<html>

<head>
    <title style="background-color:pink;">Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Use this site to get your weather!</p>

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>
		<p id="data" style="background-color:orange;"> </p>
        <p id="dat" style="background-color:white;"> </p>
		<p id="da" style="background-color:orange;"> </p>
        </div>

    
    <script src="/js/app.js"> </script>
</body>
<footer style="background-color:pink;"> built by snehit batra </footer>

</html>